// 中国色

// 群青
$blue: #1772b4;
// 魏紫
$purple: #7e1671;
// 粉团花红
$pink: #ec9bad;
// 茶花红
$red: #ee3f4d;
// 橘橙
$orange: #f97d1c;
// 琥珀黄
$yellow: #feba07;
// 孔雀绿
$green: #229453;
// 蓝绿
$teal: #12a182;
// 霁青
$cyan: #63bbd0;

// 白色
$white: #fff;
// 芡食白
$white-1: #e2e1e4;
// 银鱼白
$white-2: #cdd1d3;
// 月影白
$white-3: #c0c4c3;
// 月白
$white-4: #eef7f2;
// 乳白
$white-5: #f9f4dc;
// 象牙白
$white-6: #fffef8;
// 雪白
$white-7: #fffef9;
// 银白
$white-8: #f1f0ed;
// 蚌肉白
$white-9: #f9f1db;
// 鱼肚白
$white-10: #f7f4ed;
// 莲子白
$white-11: #e5d3aa;
// 汉玉白
$white-12: #f8f4ed;
// 粉白
$white-13: #fbf2e3;
// 荔肉白
$white-14: #f2e6ce;
// 荷花白
$white-15: #fbecde;
// 黑色
$black: #000;

// 锌灰
$gray-1: #7a7374;
// 芦灰
$gray-2: #856d72;
// 鼠背灰
$gray-3: #73575c;
// 苍蝇灰
$gray-4: #36282b;
// 暮云灰
$gray-5: #4f383e;
// 紫灰
$gray-6: #5d3f51;
// 鱼尾灰
$gray-7: #5e616d;
// 嫩灰
$gray-8: #74787a;
// 大理石灰
$gray-9: #c4cbcf;
// 星灰
$gray-10: #b2bbbe;
// 垂灰
$gray-11: #737c7b;