// 中国色

$blue: #1772b4;
$purple: #7e1671;
$pink: #ec9bad;
$red: #ee3f4d;
$orange: #f97d1c;
$yellow: #feba07;
$green: #229453;
$teal: #12a182;
$cyan: #63bbd0;

$white: #fff;
$white-1: #e2e1e4;
$white-2: #cdd1d3;
$white-3: #c0c4c3;
$white-4: #eef7f2;
$white-5: #f9f4dc;
$white-6: #fffef8;
$white-7: #fffef9;
$white-8: #f1f0ed;
$white-9: #f9f1db;
$white-10: #f7f4ed;
$white-11: #e5d3aa;
$white-12: #f8f4ed;
$white-13: #fbf2e3;
$white-14: #f2e6ce;
$white-15: #fbecde;
$black: #000;

$gray-1: #7a7374;
$gray-2: #856d72;
$gray-3: #73575c;
$gray-4: #36282b;
$gray-5: #4f383e;
$gray-6: #5d3f51;
$gray-7: #5e616d;
$gray-8: #74787a;
$gray-9: #c4cbcf;
$gray-10: #b2bbbe;
$gray-11: #737c7b;