.w-upload-dragger {
    background-color: $fill-color-blank;
    border: 1px dashed $border-color-lighter;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover {
      border: 1px dashed $primary;
    }
    .w-upload-content {
      text-align: center;
      color: $text-color-regular;
      .w-upload-icon {
        font-size: 20px;
      }
      em {
        color: $primary;
        font-style: normal;
      }
    }
  }
