/* 
命名空间示例
@include b(button) === w-button
  @include m(text) === w-button--text
*/

@use '../mixins/mixins.scss' as *;
@use '../color/color.scss' as *;

@mixin button_style($text-color, $bg-color, $bd-color) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $border-color-lighter;
}

@mixin button_disable($color, $bg, $border) {
  &:disabled,
  &.disabled {
    color: $color;
    background: $bg;
    border-color: $border;
  }
}

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $white;
  border: 1px solid $border-color-light;
  color: $text-color-regular;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: $text-font-weight;
  padding: 5px 16px;
  line-height: 22px;
  font-size: 14px;
  border-radius: 4px;

  @include m(text) {
    display: inline-block;
    margin: 0 4px;
  
    &.hover {
      @include button_style($primary, $border-color-lighter, $border-color-lighter);
    }
  }

  @include m(default) {
    @include button_style($text-color-regular, $white, $border-color-lighter);

    &:hover {
      @include button_style($primary-light-3, $white, $primary-light-9);
    }

    @include button_disable($text-color-regular, $white, $border-color-lighter);

    &.isPlain {
      opacity: 1;
      @include button_style($text-color-regular, $white, $border-color-lighter);

      &:hover {
        @include button_style($primary-light-3, $white, $primary-light-3);
      }

      &:disabled,
      &.disabled {
        @include button_style($text-color-regular, $white, $border-color-lighter)
      }
    }
  }

  @include m(primary) {
    @include button_style($white, $primary, $border-color-lighter);

    &:hover {
      @include button_style($white, $primary-light-3, $primary-light-3);
    }

    @include button_disable($white, $primary, $border-color-lighter);

    &.isPlain {
      opacity: 1;
      @include button_style($primary, $white, $primary);

      &:hover {
        @include button_style($white, $primary, $primary);
      }

      &:disabled,
      &.disabled {
        @include button_style($primary, $white, $primary)
      }
    }
  }

  @include m(success) {
    @include button_style($white, $success, $success);

    &:hover {
      @include button_style($white, $success-light-3, $success-light-3);
    }

    @include button_disable($white, $success, $success);
  
    &.isPlain {
      opacity: 1;
      @include button_style($success, $white, $success);
  
      &:hover {
        @include button_style($white, $success, $success);
      }

      &:disabled,
      &.disabled {
        @include button_style($success, $white, $success)
      }
    }
  }

  @include m(info) {
    @include button_style($white, $info, $info);

    &:hover {
      @include button_style($white, $info-light-3, $info-light-3);
    }

    @include button_disable($white, $info, $info);

    &.isPlain {
      opacity: 1;
      @include button_style($info, $white, $info);

      &:hover {
        @include button_style($white, $info, $info);
      }

      &:disabled,
      &.disabled {
        @include button_style($info, $white, $info)
      }
    }
  }

  @include m(danger) {
    @include button_style($white, $danger, $danger);

    &:hover {
      @include button_style($white, $danger-light-3, $danger-light-3);
    }

    @include button_disable($white, $danger, $danger);

    &.isPlain {
      opacity: 1;
      @include button_style($danger, $white, $danger);

      &:hover {
        @include button_style($white, $danger, $danger);
      }

      &:disabled,
      &.disabled {
        @include button_style($danger, $white, $danger)
      }
    }
  }

  @include m(warning) {
    @include button_style($white, $warning, $warning);

    &:hover {
      @include button_style($white, $warning-light-3, $warning-light-3);
    }

    @include button_disable($white, $warning, $warning);

    &.isPlain {
      opacity: 1;
      @include button_style($warning, $white, $warning);

      &:hover {
        @include button_style($white, $warning, $warning);
      }

      &:disabled,
      &.disabled {
        @include button_style($warning, $white, $warning)
      }
    }
  }

  &.disabled,
  &[disabled] {
    box-shadow: none;
    opacity: .6;
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }

  @include m(large) {
    padding: 9px 20px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 22px;
  }

  @include m(small) {
    padding: 2px 12px;
    font-size: 13px;
    border-radius: 4px;
    line-height: 20px;
  }

  @include m(mini) {
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 18px;
  }
}

.isRound {
  border-radius: 100px;
}

.isCircle {
  padding: 6px 10px;
  border-radius: 50%;
}