/* 
命名空间示例
@include b(button) === w-button
  @include m(text) === w-button--text
*/

@use '../mixins/mixins.scss' as *;
@use '../color/color.scss' as *;

@mixin button_style($text-color: $primary, $bg-color: $border-color-lighter, $bd-color: $border-color-lighter) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $border-color-lighter;
}

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $white;
  border: 1px solid $border-color-light;
  color: $text-color-regular;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: $text-font-weight;
  padding: 5px 16px;
  line-height: 22px;
  font-size: 14px;
  border-radius: 4px;

  @include m(text) {
    display: inline-block;
    margin: 0 4px;
  
    &.hover {
      @include button_style($text-color: $primary, $bg-color: $border-color-lighter, $bd-color: $border-color-lighter);
    }
  }

  @include m(default) {
    @include button_style($text-color: $text-color-regular, $bg-color: $white, $bd-color: $border-color-lighter);

    &:hover {
      @include button_style($text-color: $primary-light-3, $bg-color: $white, $bd-color: $primary-light-9);
    }

    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $text-color-regular, $bg-color: $white, $bd-color: $border-color-lighter);

      &:hover {
        @include button_style($text-color: $primary-light-3, $bg-color: $white, $bd-color: $primary-light-3);
      }
    }
  }

  @include m(primary) {
    @include button_style($text-color: $white, $bg-color: $primary, $bd-color: $border-color-lighter);

    &:hover {
      @include button_style($text-color: $white, $bg-color: $primary-light-3, $bd-color: $primary-light-3);
    }

    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $primary, $bg-color: $white, $bd-color: $primary);

      &:hover {
        @include button_style($text-color: $white, $bg-color: $primary, $bd-color: $primary);
      }
    }
  }

  @include m(success) {
    @include button_style($text-color: $white, $bg-color: $success, $bd-color: $success);

    &:hover {
      @include button_style($text-color: $white, $bg-color: $success-light-3, $bd-color: $success-light-3);
    }
  
    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $success, $bg-color: $white, $bd-color: $success);
  
      &:hover {
        @include button_style($text-color: $white, $bg-color: $success, $bd-color: $success);
      }
    }
  }

  @include m(info) {
    @include button_style($text-color: $white, $bg-color: $info, $bd-color: $info);

    &:hover {
      @include button_style($text-color: $white, $bg-color: $info-light-3, $bd-color: $info-light-3);
    }

    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $info, $bg-color: $white, $bd-color: $info);

      &:hover {
        @include button_style($text-color: $white, $bg-color: $info, $bd-color: $info);
      }
    }
  }

  @include m(danger) {
    @include button_style($text-color: $white, $bg-color: $danger, $bd-color: $danger);

    &:hover {
      @include button_style($text-color: $white, $bg-color: $danger-light-3, $bd-color: $danger-light-3);
    }

    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $danger, $bg-color: $white, $bd-color: $danger);

      &:hover {
        @include button_style($text-color: $white, $bg-color: $danger, $bd-color: $danger);
      }
    }
  }

  @include m(warning) {
    @include button_style($text-color: $white, $bg-color: $warning, $bd-color: $warning);

    &:hover {
      @include button_style($text-color: $white, $bg-color: $warning-light-3, $bd-color: $warning-light-3);
    }

    &.isPlain {
      opacity: 1;
      @include button_style($text-color: $warning, $bg-color: $white, $bd-color: $warning);

      &:hover {
        @include button_style($text-color: $white, $bg-color: $warning, $bd-color: $warning);
      }
    }
  }

  &:hover,
  &:focus {
    opacity: .8;
  }

  &.isDisabled {
    opacity: .6;
    cursor: no-drop;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  @include m(large) {
    padding: 9px 20px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 22px;
  }

  @include m(small) {
    padding: 2px 12px;
    font-size: 13px;
    border-radius: 4px;
    line-height: 20px;
  }

  @include m(mini) {
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 18px;
  }
}

.isRound {
  border-radius: 100px;
}

.isCircle {
  padding: 6px 10px;
  border-radius: 50%;
}