@use '../mixins/mixins.scss' as *;
@use '../color/color.scss' as *;

@include b(checkbox) {
  color: $text-color-primary;
  font-weight: $text-font-weight;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px !important;
  height: 6px;
  input[type='checkbox'] {
    cursor: pointer;
    position: relative;
    border: none;
    background-color: none;
    appearance: none;
    width: 18px;
    height: 18px;
  }
  input[type='checkbox']::after {
    position: absolute;
    top: 0;
    background-color: $white-1;
    color: $white-1;
    width: 18px;
    height: 18px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid $white-1;
  }
  input[type='checkbox']:checked::after {
    content: '\2713';
    background-color: $primary;
    border-color: $primary;
    background-color: $primary;
  }
  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
    input[type='checkbox']::after {
      cursor: not-allowed;
      position: absolute;
      top: 0;
      background-color: #f5f7fa;
      color: $white;
      width: 18px;
      height: 18px;
      display: inline-block;
      visibility: visible;
      padding-left: 0px;
      text-align: center;
      content: ' ';
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid $gray-9;
    }
  }
}