.icon {
  width: 1em;
  height: 1em;
  color: #303133;
  fill: currentColor;
  overflow: hidden;
}

.wview-icon {
  display: inline-block;
  position: relative;
  vertical-align: -0.15em;

  .wview-info {
    position: absolute;
    top: 8px;
    right: 0;
    box-sizing: border-box;
    min-width: 16px;
    padding: 0 3px;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    border: 1px solid $white;
    background-color: $info;
    transform: translate(50% -50%);
  }

  .wview-dot {
    width: 8px;
    min-width: 0;
    height: 8px;
    background-color: $info;
    border-radius: 100%;
  }
}

.icon-loading {
  display: inline-block;
  margin-right: 5px;
  animation: rotating 2s linear infinite;
  --webkit-animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .wview-icon {
//   display: inline-block;
//   position: relative;
//   .wview-info {
//     position: absolute;
//     top: 8px;
//     right: 0;
//     box-sizing: border-box;
//     min-width: 16px;
//     padding: 0 3px;
//     color: #fff;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 1.2;
//     text-align: center;
//     border: 1px solid #fff;
//     border-radius: 16px;
//     background-color: #ee0a24;
//     transform: translate(50%, -50%);
//   }
//   .wview-dot {
//     width: 8px;
//     min-width: 0;
//     height: 8px;
//     background-color: #ee0a24;
//     border-radius: 100%;
//   }
// }
