@use '../color/color.scss' as *;

.w-input-default,
.w-input-password-default,
.w-input-password-showpassword-default,
.w-group-input-default {
  width: 100%;
  height: 35px;
  border: 1px solid #dcdfe6f6;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
  input {
    margin-right: 10px;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: 0;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #606266;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 14px;
  }
  i.password-icon {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #94969b;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
.w-input-password-showpassword-default {
  input {
    padding-right: 30px;
    margin-right: 10px;
  }
}
.w-input-clearable {
  margin-right: 10px;
  width: 100%;
  height: 35px;
  border: 1px solid #dcdfe6f6;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
  input {
    margin-right: 10px;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: 0;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #606266;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 14px;
  }
  .clearable-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #94969b;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
.w-input-small,
.w-input-password-small,
.w-input-password-showpassword-small,
.w-group-input-small {
  width: 100%;
  height: 30px;
  border: 1px solid #dcdfe6f6;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
  .slot {
    margin-left: 10px;
  }
  input {
    margin-right: 10px;
    width: 100%;
    font-size: 13px;
    outline: none;
    border: 0;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #606266;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 13px;
  }
  i.password-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #94969b;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
.w-input-password-showpassword-small {
  input {
    padding-right: 30px;
    margin-right: 10px;
  }
}
.w-input-mini,
.w-input-password-mini,
.w-input-password-showpassword-mini,
.w-group-input-mini {
  width: 100%;
  height: 28px;
  border: 1px solid #dcdfe6f6;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
  .slot {
    margin-left: 10px;
    color: red;
  }
  input {
    margin-right: 10px;
    width: 100%;
    font-size: 12px;
    outline: none;
    border: 0;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #606266;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 12px;
  }
  i.password-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #94969b;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
.w-input-password-showpassword-mini {
  input {
    padding-right: 30px;
    margin-right: 10px;
  }
}
.w-input-left-icon-default {
  height: 35px;
  input {
    padding: 5px 25px 5px 32px;
    margin-right: 10px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 14px;
  }
  .left-icon {
    position: absolute;
    left: 10px;
    top: 11px;
    color: #94969b;
  }
}
.w-input-left-icon-small {
  height: 30px;
  input {
    margin-right: 10px;
    padding: 5px 25px 5px 32px;
    font-size: 13px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 13px;
  }
  .left-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 13px;
    color: #94969b;
  }
  .clearable-icon {
    font-size: 13px;
    top: 8px;
    cursor: pointer;
  }
}
.w-input-left-icon-mini {
  height: 28px;
  input {
    margin-right: 10px;
    padding: 5px 25px 5px 32px;
    font-size: 12px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 12px;
  }
  .left-icon {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 12px;
    color: #94969b;
  }
  .clearable-icon {
    font-size: 12px;
    top: 7px;
    cursor: pointer;
  }
}
.w-input-right-icon-default {
  height: 35px;
  input {
    padding: 5px 32px 5px 10px;
    margin-right: 10px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
  }
  .right-icon {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #94969b;
  }
}
.w-input-right-icon-small {
  height: 30px;
  input {
    padding: 5px 32px 5px 10px;
    font-size: 13px;
    margin-right: 10px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 13px;
  }
  .right-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 13px;
    color: #94969b;
  }
}
.w-input-right-icon-mini {
  height: 28px;
  input {
    padding: 5px 32px 5px 10px;
    font-size: 12px;
    margin-right: 10px;
  }
  input::placeholder {
    /* 大部分现代浏览器 */
    color: #c6c8cc;
    font-size: 12px;
  }
  .right-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 12px;
    color: #94969b;
  }
}
.w-input-disabled {
  input {
    cursor: no-drop;
    color: #c3bfbf;
    margin-right: 10px;
  }
  .clearable-icon {
    display: none;
  }
  .left-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #c6c8cc;
  }
  .right-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #c6c8cc;
  }
}
.w-group-input-default {
  border: none;
  height: auto;
}
.w-group-input-small {
  border: none;
  height: auto;
  .w-input-clearable {
    margin-right: 10px;
    height: 30px;
    .clearable-icon {
      top: 7px;
      font-size: 13px;
      cursor: pointer;
    }
  }
}
.w-group-input-mini {
  border: none;
  .w-input-clearable {
    margin-right: 10px;
    height: 28px;
    .clearable-icon {
      top: 8px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
.w-group-input-default :deep(.w-button) {
  padding: 5px 20px !important;
  border-radius: 2px;
}
.w-group-input-small :deep(.w-button) {
  padding: 5px 20px !important;
  border-radius: 2px;
}
.w-group-input-mini :deep(.w-button) {
  padding: 5px 20px !important;
  font-size: 12px;
  border-radius: 2px;
  i {
    font-size: 12px;
  }
}
input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #c6c8cc;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 ~ 18 */
  color: #c6c8cc;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c6c8cc;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10 ~ 11 */
  color: #c6c8cc;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c6c8cc;
}

.slide-fade-enter-active {
  transition: all 0.1s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
