.w-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  z-index: 999;
  bottom: 0;
  .wrap {
    background: white;
    margin-top: 100px;
    margin: 100px auto;
    border-radius: 2px;
    .line {
      border-bottom: 1px solid rgb(240 229 229);
    }
    .header {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p .modal-title {
        cursor: default;
        font-size: 1.2em;
      }
    }
    .footer {
      padding: 8px 20px;

      display: flex;
      justify-content: flex-end;
    }
    .content {
      padding: 10px 20px 20px 20px;
    }
  }
}
