@use '../color/color.scss' as *;

.w-switch {
  display: inline-block;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  .switch-core {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $primary;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: $blue;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    vertical-align: middle;

    .switch-button {
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 50%;
      transition: all 0.3s;
      width: 16px;
      height: 16px;
      background-color: #fff;
    }
  }
}
